
.socials {
    z-index: 2;
    grid-column: social-start/social-end;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-content: center;
    justify-content: center;
    float: left;
    position:fixed;
    right: 10px;
    bottom: 15px;
}

.socials > div{
    z-index: 2;
    padding-right: 1em;
}

/*TOOL TIPS*/
.tooltip {
    z-index: 2;
    position: relative;
    display: inline-block;

}

.tooltip .tooltiptext {
    z-index: 2;
    visibility: hidden;
    width: 120px;

    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 2px 0;
    margin-left: -60px;

    /* Fade in tooltip - takes 1 second to go from 0% to 100% opac: */
    opacity: 0;
    transition: opacity 1s;
}

.tooltip:hover .tooltiptext {
    z-index: 2;
    visibility: visible;
    opacity: 1;
}
