/* -------------------------------- 

Primary style

-------------------------------- */
*, *::after, *::before {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  width: 100%;
  height: 100%;
  position: fixed;
  background-color: #34495e;
  font-size: 1.6rem;
  font-family: sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


#myVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  top: 37px;
  min-width: 100%; 
  min-height: 100%;
}

.pencilsharpender__container {
  position: fixed;
  top: 35%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  height: 150px;
  overflow: visible;
  font-family: 'Lato', sans-serif;
  font-size: 20px;
  line-height: 40px;
  color: #ecf0f1;
}
.pencilsharpender__container__p1{
  height: auto;
  overflow: visible;
  font-family: 'Lato', sans-serif;
  font-size: 20px;
  line-height: 40px;

}
@-webkit-keyframes p1fontcolor {
  0%   {color: #f0ecac; }
  25%  {color: #db87a0; }
  50%  {color: #9aafd4; }
  75%  {color: #a2e2a7; }
  100% {color: #f0ecac; }
}

/* Standard syntax */
@keyframes p1fontcolor {
  0%   {color: #f0ecac; }
  25%  {color: #db87a0; }
  50%  {color: #9aafd4; }
  75%  {color: #a2e2a7; }
  100% {color: #f0ecac; }
}
.pencilsharpender__container__header {
  display: block;
  position: relative;
  left: 35%;
  text-align: center;
  margin: 0;
  font-size: 35px;
  -webkit-animation-name: p1fontcolor; /* Safari 4.0 - 8.0 */
  -webkit-animation-duration: 6s; /* Safari 4.0 - 8.0 */
  -webkit-animation-iteration-count: infinite;
  animation-name: p1fontcolor;
  animation-duration: 6s;
  animation-iteration-count: infinite;
  font-weight: 600;
}
.pencilsharpener__input {
text-align: right;
-webkit-animation-name: InputBoarder; /* Safari 4.0 - 8.0 */
-webkit-animation-duration: 4s; /* Safari 4.0 - 8.0 */
-webkit-animation-iteration-count: infinite;
animation-name: InputBorder;
animation-duration: 4s;
animation-iteration-count: infinite;
border: 2px solid;
}
/* Color animation */
/* Safari 4.0 - 8.0 */
@-webkit-keyframes InputBorder {
  0%   {border:2px solid maroon; }
  25%  {border:2px solid olive; }
  50%  {border:2px solid navy; }
  75%  {border:2px solid teal; }
  100% {border:2px solid Maroon; }
}

/* Standard syntax */
@keyframes InputBorder {
  0%   {border:2px solid maroon; }
  25%  {border:2px solid olive; }
  50%  {border:2px solid navy; }
  75%  {border:2px solid teal; }
  100% {border:2px solid Maroon; }
}
.pencilsharpener__submitbutton{
  background-color:gray; /* Green */
  border: none;
  color: white;
  padding: 2px 18px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
}

.form1{
text-align: center;
position: relative;
}

/*flare button start */
.pencilsharpenerflarebtn {
  position: relative;
  top: 70%;
  left: 50%;
  -webkit-transform: translate(-50%, 10%);
  transform: translate(-50%, 10%);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 40px;
  background: #fff;
  border-radius: 999px;
}
.pencilsharpenerflarebtn:hover {
  -webkit-animation: burn 1000ms ease-out forwards;
          animation: burn 1000ms ease-out forwards;
}
.pencilsharpenerflarebtn:hover::before {
  content: '';
  position: absolute;
  left: 40px;
  width: 100px;
  height: 40px;
  background: #ffe66e;
  border-radius: 100%;
  -webkit-animation: flare 1000ms ease-out forwards;
          animation: flare 1000ms ease-out forwards;
}
.pencilsharpenerflarebtn:hover::after {
  content: '';
  position: absolute;
  right: 40px;
  width: 100px;
  height: 40px;
  background: #ffe66e;
  border-radius: 100%;
  -webkit-animation: flare 1000ms ease-out forwards;
          animation: flare 1000ms ease-out forwards;
}

@-webkit-keyframes flare {
  100% {
    -webkit-transform: translateY(-20px) scale(1.5);
            transform: translateY(-20px) scale(1.5);
    -webkit-filter: blur(10px);
            filter: blur(10px);
    opacity: 0;
  }
}

@keyframes flare {
  100% {
    -webkit-transform: translateY(-20px) scale(1.5);
            transform: translateY(-20px) scale(1.5);
    -webkit-filter: blur(10px);
            filter: blur(10px);
    opacity: 0;
  }
}
@-webkit-keyframes burn {
  0% {
    color: #ff826e;
    background: #ffe66e;
    box-shadow: 0 0 5px 0 #c8000a, 0 0 5px 0 rgba(230, 30, 10, 0.8), 0 0 5px 0 rgba(230, 230, 10, 0.6);
  }
  100% {
    color: black;
    background: white;
    box-shadow: 0 -35px 40px 30px rgba(255, 130, 10, 0), 0 -30px 30px 10px rgba(230, 30, 10, 0), 0 -20px 10px 0 rgba(255, 255, 10, 0);
  }
}
@keyframes burn {
  0% {
    color: #ff826e;
    background: #ffe66e;
    box-shadow: 0 0 5px 0 #c8000a, 0 0 5px 0 rgba(230, 30, 10, 0.8), 0 0 5px 0 rgba(230, 230, 10, 0.6);
  }
  100% {
    color: black;
    background: white;
    box-shadow: 0 -35px 40px 30px rgba(255, 130, 10, 0), 0 -30px 30px 10px rgba(230, 30, 10, 0), 0 -20px 10px 0 rgba(255, 255, 10, 0);
  }
}
/*flare button ends */

.pencilsharpener__container__02 {
  position: absolute;
  top: 65%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  height: auto;
  overflow: visible;
  font-family: 'Lato', sans-serif;
  font-size: 20px;
  line-height: 40px;
  color: #ecf0f1;
}


/*slot machine style start*/

ul {
  padding: 0;
  margin: 0;
  list-style: none;
  
}

.jSlots-wrapper {
  overflow: hidden;
  display: inline; /* to size correctly, can use float too, or width*/
  border: 1px solid #999;
}

.slot1,
.slot2,
.slot3,
.slot4,
.slot5,
.slot6,
.slot7 {
  float: left;
  
}


.slot {
  float: left;
}
.fancy{
  
  display: none;
  
}
/* ---------------------------------------------------------------------
   FANCY EXAMPLE
--------------------------------------------------------------------- */
.fancy .jSlots-wrapper {
  overflow: hidden;
  height: 40px;
  display: inline-flex; /* to size correctly, can use float too, or width*/
  border: 1px solid #999;
  position: relative;
  left: 22%;
  -webkit-transform: translate(-50%, 30%);
          transform: translate(-50%, 30%);
}

/* try this */
.fancy li {
  width: 40px;
  line-height: 40px;
  text-align: center;
  font-size: 28px;
  font-weight: bold;
  color: #fff;
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.8);
  font-family: 'Gravitas One', serif;
  border-left: 1px solid #999;
}

.fancy :first-child li {
  border-left: none;
}


.fancy  li:nth-child(1),
.fancy  li:nth-child(3),
.fancy  li:nth-child(5),
.fancy  li:nth-child(7),
.fancy  li:nth-child(9){
  background-color: #FF0000;
}

.fancy  li:nth-child(0),
.fancy  li:nth-child(2),
.fancy  li:nth-child(4),
.fancy  li:nth-child(6),
.fancy  li:nth-child(8) {
  background-color: #FF0000;
}
.fancy  li:nth-child(10) {
  background-color: #000000;
}
.fancy  li span {
  display: block;
}

/*slot machine style end*/
